<h1>Welcome</h1>

<p>1+1={{1+1}}</p>
<h1>Name : {{name}}</h1>
<h1>{{getName(2)}}</h1>
<h1>
  {{employees}}
</h1>
<h1>{{employee.salary}}</h1>

<img src="{{employee.src}}" alt="{{employee.alt}}">
<hr><hr><h1>Event Binding</h1>
<input type="text" (change)="textChange()">
<input type="button" value="SAVE" (click)="clickSave()" (mouseover)="mouseOver()">
<hr><hr><h1>Property Binding</h1>
<input type="button" value="SAVE" (click)="clickSave()" 
(mouseover)="mouseOver()" [disabled]="isDisabled">
<br>
<input type="text" (change)="textChange()" [id]="textId">
<br>
<input type="text" (change)="textChange()" id="{{textId}}">

<hr><hr><h1>Class Binding (CSS class binding on html elements in angular)</h1>
<input [class]="myClass"><br>
<input [class.success]="true"><br>
<input type="button" >
<hr><hr><h1>Attribute Binding</h1>
<img [attr.src]="src" [attr.width]="width"  alt="">

<hr><hr><h1>Style Binding (Bind CSS dynamically to html elements)</h1>
<p [style.font-size.px]="'30'" [style]="textStyle">{{name}}</p>


<hr><hr><h1>Template Reference variable(it instansiate the element)</h1>
<input type="text" #myText value="ABC">
<br>{{myText.value}}
<button [disabled]="!myText.value">SAVE</button>


<hr><hr><h1>ngIf</h1>
<div *ngIf="show">
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
</div>
<div [hidden]="show">
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
</div>

<hr><hr><h1>if else</h1>
<div *ngIf="show; then record else noRecord ">
 
</div>
<ng-template #record>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>

</ng-template>
<ng-template #noRecord>
  <ul>
    <li>No Records</li>
  </ul>
</ng-template>

<hr><hr><h1>ngFor  (for loop in angular)</h1>
<ul >
  <li *ngFor="let employee of employeeList; 
  index as i; 
  first as f ;
  even as e
  ">{{i+1}} .{{employee}}  {{f}}  {{e}}</li>
</ul>
<table border="1">
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Address</th>
      <th>Is First</th>
      <th>Is Last</th>
      <th>Is Even</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeeDetails; 
    index as i;
     first as f;
     last as l;
     even as e">
        <td>{{i+1}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.address}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
        <td>{{e}}</td>
    </tr>
  </tbody>
</table>
<hr><hr><h1>ngFor track by</h1>
<table border="1">
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Address</th>
      <th>Is First</th>
      <th>Is Last</th>
      <th>Is Even</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeeDetails; 
    index as i;
     first as f;
     last as l;
     even as e;
     tractBy: refreshEmployees">
        <td>{{i+1}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.address}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
        <td>{{e}}</td>
    </tr>
  </tbody>
</table>
<button (click)="refresh()">Refresh</button>

<hr><hr><h1>ngSwitch</h1>

<div [ngSwitch]="myValue">
  <div *ngSwitchCase="1">
    <p>First</p>
  </div>
  <div *ngSwitchCase="2">
    <p>Second</p>
  </div>
  <div *ngSwitchCase="3">
    <p>Third</p>
  </div>
  <div *ngSwitchDefault>
    <p>Default</p>
  </div>
</div>
